name: 'Update Deps'
on:
  push:
    branches:
      - '_update-deps/runtimeverification/mir-semantics'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  update-versions:
    name: 'Update kmir version'
    runs-on: [self-hosted, linux, flyweight]
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
          submodules: true
      - name: 'Install uv'
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo ${HOME}/.local/bin >> $GITHUB_PATH
          uv --version
      - name: 'Update kmir release tag'
        run: |
          KMIR_VERSION=$(cat ./deps/kmir_release)
          sed -i -e 's!kmir = { git = "https://github.com/runtimeverification/mir-semantics.git", rev = "v[0-9.]*", subdirectory = "kmir" }!kmir = { git = "https://github.com/runtimeverification/mir-semantics.git", rev = "v'${KMIR_VERSION}'", subdirectory = "kmir" }!' \
                 -e 's!kmir@git+https://github.com/runtimeverification/mir-semantics.git@v[0-9.]*#subdirectory=kmir!kmir@git+https://github.com/runtimeverification/mir-semantics.git@v'${KMIR_VERSION}'#subdirectory=kmir!'  \
                 pyproject.toml
          uv lock --upgrade
          git add pyproject.toml uv.lock
          git commit -m '{pyproject.toml,uv.lock}: sync uv files, KMIR version '${KMIR_VERSION} || true
      - name: 'Push updates'
        run: git push
